ul{
    width: 400px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

li{
    width: 100px;
    list-style-type: none;
    text-align: center;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}