.proyecto{
    border: 1px solid gray;
    background-color: lightgray;
    padding: 20px;
    margin: 20px;
}

.activo{
    border-color: lightgreen;
}

.inactivo{
    border-color: tomato;
}

.depto-icon img{
    width: 50px;
}