@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Rasa:wght@300;500&display=swap");
:root {
  --mainFont: "Rasa", serif;
  --titleSize: 3em;
  --mainColor: #414141;
  --secondColor: #c9c9c9;
  --maxwidth: 1400px;
  --space: 20px;
  --colorBuy: #eeeeee;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(100%);
  transition: 0.5s;
}

img:hover {
  filter: grayscale(0%);
}

.container {
  max-width: var(--maxwidth);
  margin: 0 auto;
}

body {
  font-family: var(--mainFont);
  font-weight: 300;
  color: var(--mainColor);
  font-size: 16px;
}

main h2 {
  font-size: var(--titleSize);
  margin-bottom: calc(var(--space) * 2);
}

main section .container {
  padding: calc(var(--space) * 4) var(--space);
}

@media (min-width: 768px) {
  main h2 {
    font-size: calc(var(--titleSize));
  }
}

/* about */

main #team h2 {
  text-align: center;
}

main #team article>div {
  overflow: hidden;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transition: 1s;
  margin: 0 auto;
}

main #team article h3 {
  font-size: 1.4em;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 15px;
}

main #team article p {
  color: var(--secondColor);
  text-align: center;
  margin-bottom: 15px;
}

main #team article>div:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

main #team .container>p {
  text-align: center;
  font-size: 2em;
  padding: 100px;
  background-color: #fafafa;
}

main #team .container>p a {
  text-decoration: none;
  border-bottom: 1px solid var(--secondColor);
  color: var(--mainColor);
}

main #team #submenu {
  display: flex;
}

main #team #submenu li {
  font-size: 2em;
  color: var(--secondColor);
  text-align: center;
  cursor: pointer;
  padding: 20px;
}

main #team #submenu li:hover {
  color: var(--mainColor);
}

main #team #submenu .active {
  color: var(--mainColor);
}

@media (min-width: 768px) {
  main #team h2 {
    text-align: left;
  }
  main #team article>div {
    margin: 0px;
  }
  main #team .container>div {
    display: flex;
    flex-wrap: wrap;
  }
  main #team .container>div article {
    width: 50%;
  }
  main #team .container>div h3 {
    margin-top: 50px;
  }
  main #team .container>div h3, main #team .container>div p {
    text-align: center;
  }
}

@media (min-width: 960px) {
  main #team .container>div {
    grid-template-columns: repeat(4, 1fr);
  }
  main #team .container>div article {
    width: 33.333%;
  }
}

/* lightbox */

#viewUser {
  font-family: var(--mainFont);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#viewUser .manto {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  animation-name: mantoOpacity;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* backwars */
  /* animation-iteration-count: infinite; */
  /* animation-delay: 2s; */
  /* retraso de la animacion */
}

@keyframes mantoOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#viewUser .manto .card {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  opacity: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  animation-name: cardAnimation;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes cardAnimation {
  0% {
    opacity: 0;
    top: 0%;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    top: 10%;
    transform: scale(1.15);
  }
}

#viewUser .manto .card figure {
  width: 50%;
}

#viewUser .manto .card aside {
  width: 50%;
  padding: 20px;
}

#viewUser .manto .card img {
  width: 100%;
  height: auto;
}

#viewUser .manto .card p {
  padding: 5px 7px;
  text-align: center;
  background-color: black;
  border: 2px solid white;
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  cursor: pointer;
}