.lista{
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 20px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}