* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculadora {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid tomato;
}

.calculadora input {
    width: 100%;
    padding: 10px;
    text-align: right;
    font-size: 120%;
}

.calculadora .botonera {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.calculadora .botonera button {
    width: calc(33.333% - 4px);
    margin: 2px;
    height: 30px;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}