.episodios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.episodio{
    width: 200px;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
}

.filaPar{
    background-color: lightgrey;
}

.filaImpar{
    background-color: lightskyblue;
}